# Core dependencies
Django==5.2.5
gunicorn==23.0.0
Pillow==11.3.0
python-dotenv==1.0.0
whitenoise==6.7.0

# Development dependencies
pylint-django==2.5.5

# Database
pymysql==1.1.1  # Only needed if using MySQL

# Caching
python-memcached==1.59  # If using Memcached on PythonAnywhere

# Email
sendgrid==6.11.0  # If using SendGrid for email
